# IMPORT
import("methods")
importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, eSet, 
                  Versioned, VersionedBiobase, Versions)

import("distr")
import("plyr")

# EXPORT
exportClasses(IBSpectra,ProteinGroup)
exportMethods("as.data.frame")

export(IBSpectraTypes)
exportPattern("^[a-zA-Z%]")
