# IMPORT
import("methods")
importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, eSet, 
                  Versioned, VersionedBiobase, Versions)

import("distr")


# EXPORT
exportClasses(IBSpectra,ProteinGroup)
S3method(as.data.frame, IBSpectra)
S3method(as.data.frame, ProteinGroup)
exportMethods("as.data.frame")

export(IBSpectraTypes)
exportPattern("^[a-zA-Z%]")
